aniso8601==8.0.0
attrs==19.2.0
certifi==2022.12.7
chardet==3.0.4
Click==7.0
Flask==1.1.1
flask-restplus==0.13.0
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.3
jsons==1.0.0
jsonschema==3.0.2
kafka-python==1.4.7
MarkupSafe==1.1.1
numpy==1.17.2
pandas==0.25.1
pymongo==3.9.0
pyrsistent==0.15.4
python-dateutil==2.8.0
Python-EasyConfig==0.1.7
Python-RESTArt==0.1.6
pytz==2019.2
PyYAML==5.4
requests==2.22.0
six==1.12.0
typish==1.2.0
urllib3==1.25.6
Werkzeug==0.16.0
wincertstore==0.2
